@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-primary: #25ce58;
    --color-light: #ffffff;
    --color-dark: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

.delivery {
    background-color: var(--color-primary);
    color: var(--color-light);
    text-align: center;
    padding: 0.3rem;
    font-size: 0.9rem;
    font-weight: 500;
}

.logo img {
    width: 65px;
    height: auto;
}

header {
    position: relative;
    top: 0;
    right: 0;
    z-index: 1000;
    padding: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navList {
    display: flex;
}

.navList a {
    display: inline-block;
    margin: 0 35px;
    color: var(--color-dark);
    font-size: 1.2rem;
    font-weight: 700;
    transition: color 0.3s ease;
}

.navList a:hover {
    color: var(--color-primary);
}

.right-content {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.right-content .nav-btn {
    display: inline-block;
    background-color: var(--color-primary);
    color: var(--color-light);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.right-content .nav-btn:hover {
    transform: translateY(-5px);
    background-color: var(--color-light);
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
}

.right-content #menu-icon {
    font-size: 42px;
    z-index: 1001;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}
#cart {
    position: relative;
    display: flex;
    gap: 15px;
    align-items: center;
    color: var(--color-dark);
    font-size: 1.5rem;
    font-weight: 700;
    transition: color 0.3s ease;

    img{
    
    width: 40px;
    height: 40px;
    }
}


/* Responsive Design */
@media (max-width: 768px) {
    .right-content #menu-icon {
        display: block;
    }

    .navList {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--color-light);
        flex-direction: column;
        padding: 1rem;
    }

    .navList.open {
        display: flex;
    }

    .navList a {
        margin: 0.5rem 0;
    }

    main {
        grid-template-columns: 1fr;
    }
}
